@theme-background-color: white;
@theme-border-dark: #ccc;
@theme-border-light: #ddd;


@theme-success-color: #5cb85c;
@theme-primary-color: #F1C100;
@theme-heading-color: #66989C;
@theme-link-color: #34485d;
@theme-detail-color: #E62f39;
@theme-error-color: #E62f39;
@theme-footer-base-color: @theme-background-color;
