@import "colors.less";

.field-error {
	border-left: 4px solid rgba(255, 0, 0, 0.6) !important;
}

.label-danger{
	background-color: @theme-error-color;
}
.text-danger{
	color: @theme-error-color;
}

