@import "colors.less";

.field-error {
	border-left: 4px solid mix(@theme-error-text, white, 70%) !important;//#ff6666 !important; //rgba(255, 0, 0, 0.6) !important;
}

.alert {
	border: 1px solid transparent !important;
}

.alert-danger {
	color: @theme-error-text;
	background-color: @theme-error-bg;
}

.label-danger {
	background-color: @theme-error-bg;
}
.text-danger {
	color: @theme-error-text;
}

juci-error {
	alert;
	alert-danger;
}
