@import "colors.less";

.theme-hr-color {
	border-color: @theme-border-dark;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.field-error {
	border-left: 4px solid rgba(255, 0, 0, 0.6); 
}
