@import "colors.less";

* {
	border-color: @theme-border !important;
}

.panel { background-color: @theme-panel-background; }
.panel-heading { background-color: mix(@theme-panel-background, black, 96%) !important; }
.modal-content { background-color: @theme-panel-background; }
.list-group-item {
	background-color: @theme-panel-background;
	& > div {
		background-color: mix(@theme-panel-background, black, 96%) !important;
	}
}

.table {
	background-color: @theme-panel-background !important;
} 

.form-control:focus {
	border-color: @theme-input-focus !important;
	box-shadow: @theme-input-focus 0px 0px 5px 0px;
}

.theme-hr-color {
	border-color: @theme-hr-color;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.label-success {
	background-color: @theme-success-color;
}

input {
	background-color: @theme-input-color !important;
}
