@import "colors.less";

.nav-tabs &>li.active &>a, .nav-tabs &>li.active &>a:focus, .nav-tabs &>li.active &>a:hover {
	background-color: @theme-primary-color;
	border-color: @theme-primary-color !important;
	color: white !important;
	font-weight: bold;
}
.nav-tabs {
	border-bottom: 0px;
}

.nav-tabs &>li &>a {
	color: @theme-heading-color !important;
	border-color: @theme-footer-base-color !important;
}
