@import "colors";

body {
	font-size: 16px;
	color: @theme-text-color;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: @theme-heading-color !important;
}

.juci-list-editor {
	margin-top: 10px;
}
//<tabset>/<tab>
.nav-tabs {
	border-bottom: 0px;
}

.tab-content {
	padding: 0px 10px 10px 10px;
	border-left: 1px solid @theme-footer-base-color;
	border-right: 1px solid @theme-footer-base-color;
	border-bottom: 1px solid @theme-footer-base-color;
	border-top: 1px solid @theme-footer-base-color;
	border-radius: 0px 5px 5px 5px;
}
.nav, .nav-tab {
	margin-top:15px;
}
.nav-tabs &>li.active &>a, .nav-tabs &>li.active &>a:focus, .nav-tabs &>li.active &>a:hover {
	background-color: @theme-success-color;
	border-color: @theme-success-color !important;
	color: white !important;
	font-weight: bold;
}

.btn-default, .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open &>.dropdown-toggle.btn-default {
	color: @theme-text-color;
}
.form-control {
	color:@theme-text-color;
}
.btn-primary, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open &>.dropdown-toggle.btn-primary, .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	color: @theme-text-color;
	background-color: @theme-success-color;
	border-color: @theme-success-color;
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: lighten(@theme-success-color, 10%);
	border-color: lighten(@theme-success-color, 10%);
}

.juci-container {
	min-height: 1000px;
}

.juci-footer {
	.gradient(@theme-footer-base-color, darken(@theme-footer-base-color, 10%)); 
	color: white !important; 
	width: 100%;
	min-height: 200px;
	a {
		color: white !important; 
	}
	.about {
		margin-top: 50px; 
	}
}
a, a:focus, a:hover {
	color: @theme-link-color;
}
.overview-widgets {
	& > .row {
		& > .col-sm-4:nth-child(3n+1) {
			clear: both;
		}
	}
}
.overview-banner {
	background: url("../img/overview_header.jpg") repeat scroll top center !important;
	height: 400px;
	margin-bottom: 30px;
}
.overview-box {
	h3 {
		line-height: 40px;
		font-family: eurostyle;
		font-weight: bold;
		text-transform: uppercase;
	}
	.box-header {
		text-align: center;
	}
	.panel-body {
		max-height: 400px;
	}
}
.overview-status-box {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 7px;
	line-height: 35px;
}
.navbar-default {
	& .navbar-collapse, & .navbar-form {
		background-color: transparent; 
		@media screen and (max-width: 968px) {
			border-color: transparent !important;
		}
	}
}

.animate-show {
	line-height: 20px;
	opacity: 1;
	padding: 10px;
	border: 1px solid black;
	background: white;
	& .ng-hide-add.ng-hide-add-active, & .ng-hide-remove.ng-hide-remove-active {
		-webkit-transition: all linear 0.5s;
		transition: all linear 0.5s;
	}
	& .ng-hide {
		line-height: 0;
		opacity: 0;
		padding: 0 10px;
	}
}

h3.detail-strong,h4.detail-strong {
	color: @theme-text-color;
	font-weight: bold;
}

h3.detail-strong {
	font-size: 1.5em;
}

h4.detail-strong {
	font-size: 1.2em;
}

.navbar.transparent.navbar-inverse {
	.navbar-inner {
		background: rgba(0,0,0,0);
	}
}

.radio {
	label.detail-strong-input {
		font-size: 1em;
		font-weight: 700;
		span {
			margin-top: -4px;
		}
	}
}
.radio.radio-inline.radio-align {
	margin-top: 10px;
}
div.error {
	color: @theme-error-color;
}
.modal-backdrop {
	height: 4000px;
	z-index: 50;
}
.footer-right {
	padding-right: 30px;
	text-align: right;
}
.carousel-indicators {
	top: auto;
	bottom: 15px;
}
.overview-small {
	margin-left: -15px;
	margin-right: -15px;
	.label {
		margin-left: 1px;
		margin-righh: 1px;
	}
	.icon {
		padding-left: 10px;
		width: 10%;
		float:left;
	}
	.name {
		padding-left:10px;
		width: 30%;
		float:left;
	}
	.content {
		margin-right: 5%;
		text-align:right;
		width: 55%;
		float:right;
		overflow:hidden;
	}
}
